<!DOCTYPE html>
<html lang="en">
<head>
   {{>head}}
</head>
<body>
<div class="main-content">
{{>header}}
<img class="portrait" src="img/zlomek.JPG">
<p>{{piesek}}</p>
</div>
{{>footer}}
</body>
</html>