<!DOCTYPE html>
<html lang="en">
<head>
{{>head}}
</head>
<div class="main-content">
    {{>header}}
    <p>Use this site to get your weather!</p>
    <form>
        <input placeholder="Location">
        <button>Search</button>
    </form>

    <p id="firstParagraph"></p>
    <p id="secondParagraph"></p>
    {{>forecast}}
</div>
{{>xkcd}}
{{>footer}}
<script src="/js/app.js"></script>
<script src="/js/skycons.js"></script>
</body>
</html>