<table id="forecast-table">
    <thead>
    <tr>
        <th class="first-cell"></th>
        <th class="date-day0"></th>
        <th class="date-day1"></th>
        <th class="date-day2"></th>
        <th class="date-day3"></th>
        <th class="date-day4"></th>
        <th class="date-day5"></th>
        <th class="date-day6"></th>
    </tr>
    </thead>
    <tr>
        <th>Temperature</th>
        <td class="temperature-day0"></td>
        <td class="temperature-day1"></td>
        <td class="temperature-day2"></td>
        <td class="temperature-day3"></td>
        <td class="temperature-day4"></td>
        <td class="temperature-day5"></td>
        <td class="temperature-day6"></td>
    </tr>

</table>