<table id="forecast-table">
    <thead>
    <tr>
        <th class="first-cell"></th>
        <th class="date-day0"></th>
        <th class="date-day1"></th>
        <th class="date-day2"></th>
        <th class="date-day3"></th>
        <th class="date-day4"></th>
        <th class="date-day5"></th>
        <th class="date-day6"></th>
    </tr>
    </thead>
    <tr>
        <th>Weather</th>
        <td><canvas id="icon-day0" width="40" height="40"></canvas></td>
        <td><canvas id="icon-day1" width="40" height="40"></canvas></td>
        <td><canvas id="icon-day2" width="40" height="40"></canvas></td>
        <td><canvas id="icon-day3" width="40" height="40"></canvas></td>
        <td><canvas id="icon-day4" width="40" height="40"></canvas></td>
        <td><canvas id="icon-day5" width="40" height="40"></canvas></td>
        <td><canvas id="icon-day6" width="40" height="40"></canvas></td>
    </tr>
    <tr>
        <th>Temperature</th>
        <td class="temperature-day0"></td>
        <td class="temperature-day1"></td>
        <td class="temperature-day2"></td>
        <td class="temperature-day3"></td>
        <td class="temperature-day4"></td>
        <td class="temperature-day5"></td>
        <td class="temperature-day6"></td>
    </tr>

</table>